.cabecera{
    display: flex;
}

.aula{
  margin-top: 30px;
  margin-left: 640px;
  color:#a98274
}

header{
    display: flex;
    flex-wrap:wrap;
    background-color: #4b2c20;
}

body{
    background-color: #ffd0b0;
}

.tituloC{
    color: #fff9c4;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
    margin-top: 92px;
}

.flex-container>div{
    margin-top: 82px;
    background-color: #4b2c20;
    margin: 3px;  
    box-shadow: 6px 20px 10px rgb(187, 128, 89);
}


.flex-container>div>div>img{
    width: 662px;
    height: 400px;
    background-color: #4b2c20;
}

.flex-container>div>div>p{
    margin-top: 310px;
    background-color: #4b2c20;
    line-height: 20px;
    font-size: 15px;
}

.flex-container>div>div{
    width: 650px;
    height: 100px;
    background-color: #4b2c20;
}


.h1{
    color: #fff9c4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/**/
h1{
  color: #fff9c4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/**/
h3{
  color: #795548;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}

h4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white
}

button{
    background-color: #ff9e80;
    color: #c96f53;
    width:638px; height:75px
}

  .circular--square {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 30%;
    margin-left: 30%;
  }

  .circular--square-nav {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30%;
    margin-left: 30%;
  }

  .header{
    display: flex;
    flex-wrap:wrap;
  }

  .titulo{
    margin-top: 8px;
    margin-left: 20px;
  }

  .botonera{
   margin-left: 12px;
  }

  .titulos{
    display: flex;
    flex-wrap:wrap;
  }

  
/*Prueba*/

.header img{
    transition: .2s;
}

.botonera :hover button{
    box-shadow: 0 0 0 12px rgb(219, 125, 88);
}

.herramientas{
  margin-top: 100px;
}

.practica{
  margin-top: 100px;
}

/*Cabecera*/

nav{
  height: 82px;
}

.logo-nav {
  margin-right: 12px;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sidenav{
  background-color: #a98274;
}


a{
  color:#fff9c4
}

  .main-container{
    margin-right: 12px;
  }

  .multimedia{
    margin-top: 32px;
  }

  
//RESPONSIVE

@media (max-width: 694px){
    .card{
      width: 300px;
    }
    .flex-container>div>div>img{
      width: 300px;
      height: 195px;
      background-color: #4b2c20;
  }
  
  .flex-container>div>div>p{
    margin-top: 160px;
    background-color: #795548;
    line-height: 20px;
    font-size: 15px;
  }
  
  .flex-container>div>div{
      width: 300px;
      height: 70px;
      background-color: #4b2c20;
  }
  
  button{
    background-color: #ff9e80;
    color: #c96f53;
    width:273px; height:75px
  }
  
  .circular--square {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 30%;
    margin-left: 30%;
  }
  
  .titulo{
    margin-top: 0px;
    margin-left: 20px;
  }
  .botonera{
    align-items: center;
    height: 12px;
    margin-bottom: 30px;
    margin-left: 0px;
   }
  
   button{
    margin-left: 12px;
   }
   .info{
    margin-top: 0px;
   }
  
   h1{
    font-size: 27px;
   }
   h4{
    font-size: 12px;
   }
  }