<h1>Galeria de imagenes utilizando propiedad Flex</h1>>

<div class="flex-container">
    <div><img src="https://media.istockphoto.com/id/1322104312/es/foto/libertad-cadenas-que-se-transforman-en-aves-concepto-de-carga.jpg?s=612x612&w=0&k=20&c=jwGtdxbTQRwdZrpfr0-cPcaV0gP8xk9muMyPKqmxKYU="></div>
    <div><img src="https://cdn.pixabay.com/photo/2015/03/30/20/33/heart-700141_1280.jpg"></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0229/0839/files/bancos_de_imagenes_gratis.jpg?v=1630420628"></div>
    <div><img src="https://photo980x880.mnstatic.com/37f93c7924cb320de906a1f1b9f4e12a/la-gran-via-de-madrid-1072541.jpg"></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0229/0839/files/Busqueda_de_imagenes_3_large.jpg?v=1578328497"></div>
    <div><img src="https://i.pinimg.com/736x/b0/e9/11/b0e91175f0772af0f80ab3a544587443.jpg"></div>
</div>

<picture>
    <source srcset="https://media.istockphoto.com/id/1322104312/es/foto/libertad-cadenas-que-se-transforman-en-aves-concepto-de-carga.jpg?s=612x612&w=0&k=20&c=jwGtdxbTQRwdZrpfr0-cPcaV0gP8xk9muMyPKqmxKYU=" media="(max-width: 700px)">
    <source srcset="https://photo980x880.mnstatic.com/37f93c7924cb320de906a1f1b9f4e12a/la-gran-via-de-madrid-1072541.jpg" media="(min-width: 400px)">
    <img src="https://i.pinimg.com/736x/b0/e9/11/b0e91175f0772af0f80ab3a544587443.jpg">
</picture>

