
@media (max-width: 694px){
  .card{
    width: 300px;
  }
  .flex-container>div>div>img{
    width: 300px;
    height: 195px;
    background-color: #4b2c20;
}

.flex-container>div>div>video{
  width: 300px;
  height: 300px;
  background-color: #795548;
}

.flex-container>div>div>p{
  margin-top: 160px;
  background-color: #795548;
  line-height: 20px;
  font-size: 15px;
}

.flex-container>div>div{
  width: 300px;
  height: 70px;
  background-color: #795548;
}

.botonera{
  margin-top:12px;
}


button{
  background-color: #ff9e80;
  color: #c96f53;
  width:273px; height:75px
}

.circular--squareH {
  width: 200px;
  height: 300px;
  border-radius: 50%;
  margin-top: 30%;
  margin-left: 30%;
}

.circular--square {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 30%;
  margin-left: 30%;
}

.titulo{
  margin-top: 0px;
  margin-left: 20px;
}
.botonera{
  align-items: center;
  height: 12px;
  margin-bottom: 30px;
  margin-left: 0px;
 }

 button{
  margin-left: 12px;
 }
 .info{
  margin-top: 0px;
 }

 h1{
  font-size: 27px;
 }
 h4{
  font-size: 12px;
 }
}
